<div class="container">

			<%= render 'user_avatar_zone.html.erb' %>
			<%= render 'user_card.html.erb' %>

<%= render partial: 'shared/events_cards', locals: {events: Event.where(admin_id: @user.id)}%>
</div>

