      <div class="col">
        <div class="card">
          <img style="height: 200px; width: 100%; display: block;" src="img/dj.jpg" alt="Card image">

          <div class="card-body">
            <h4 class="card-title">My Event</h4>
            <h6 class="card-subtitle mb-2 text-muted">2019/08/09 - Lyon</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor reiciendis libero consectetur eum eius.</p>
            <a href="#" class="card-link">See event</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img style="height: 200px; width: 100%; display: block;" src="img/cheers.jpg" alt="Card image">

          <div class="card-body">
            <h4 class="card-title">My Event</h4>
            <h6 class="card-subtitle mb-2 text-muted">2019/08/09 - Lyon</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor reiciendis libero consectetur eum eius.</p>
            <a href="#" class="card-link">See event</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ATTENDEE CARDS -->
  
  <div class="container mt-4">
    <h2>City cards</h2>
    <div class="row"> 
      <div class="col">
        <div class="card overlay-container bg-dark text-white">
         <img class="card-img" src="img/lyon.jpg" alt="Card image">
         <div class="card-img-overlay">
          <div class="overlay-shadow"></div>
          <h2 class="card-title overlay-text">LYON</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card overlay-container bg-dark text-white">
       <img class="card-img h200" src="img/paris.jpg" alt="Card image">
       <div class="card-img-overlay">
        <div class="overlay-shadow"></div>
        <h2 class="card-title overlay-text">PARIS</h2>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card overlay-container bg-dark text-white">
     <img class="card-img" src="img/marseille.jpg" alt="Card image">
     <div class="card-img-overlay">
      <div class="overlay-shadow"></div>
      <h2 class="card-title overlay-text">MARSEILLE</h2>
    </div>
  </div>
</div>
</div>








