<div class="jumbotron jumbotron-home">
  <div class="container">
  <h1 class="display-3 text-light">Live your best life!</h1>
  <p class="lead text-light">Never do nothing again </p>
  <hr class="my-4">
  <p class="text-light">Another super sentence to tell you how awesome our website is.</p>
  <p class="lead text-light">
    <%= link_to "Create your event", new_event_path, class:"btn btn-primary btn-lg" %>
  </p>
  </div>
</div>



